button {
    height: 50px;
    width: 50px;
}

.botao {
    height: 50px;
    width: 50px;
}

.limpar-tudo {
    box-shadow: inset 1px 1px 50px #990000;
}

.limpar {
    box-shadow: inset 1px 1px 50px #CC6600;
}

.visor {
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-left: -13px;
}

.fundo {
    background-color: rgb(156, 156, 156);
    width: 230px;
    height: 315px;
    border-radius: 10px;
    padding-left: 45px;
    padding-top: 5px;
}